
.custommers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
}

.custommers__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.custommers__item {
  margin-right: 30px;
&:last-child {
  margin-right: 0;
}
}


.custommers__icon {
  fill: var(--svg-fill);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.custommers__link {
  border: 1px solid var(--svg-fill);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  border-color: var(--accent-color);

.custommers__icon {
  fill: var(--accent-color);
}
}
}