.footer {
  background: var(--bgc-footer);
  padding-top: 60px;
  padding-bottom: 60px;


&__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--accent-color);
}

&__studio {
  color: var(--bg-color);
}

&__position {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
}
}

.address__list {
  margin-top: 20px;
  list-style: none;
}

.address__link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: inherit;
  color: var(--bg-color);
  margin-bottom: 9px;
}

.address__tel,
.address__email {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: inherit;
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
  color: var(--accent-color);
}
}


