:root {
  --main-color: #212121;
  --subcolor: #757575;
  --accent-color: #2196f3;
  --bg-color: #ffffff;
  --bgc-hero: #c4c4c4;
  --bgc-btn-hover: #188ce8;
  --logo-studio: #000000;
  --bgc-team: #f5f4fa;
  --bgc-footer: #2f303a;
  --bgc-filter-btn: #f5f4fa;
  --svg-fill: #afb1b8;
}
